:root {
  --backgound-color: linear-gradient(to right, #ffdafe, #87a3ff) !important;
  --name-text: #000000;
  --white-1: #ffffff;
  --white-2: #eeeeee;
  --white-3: #e5e6e7;
  --white-4: #f1f1f1;
  --white-5: #f1f0f0;
  --white-6: #fafafb;
  --white-7: #f5fbff;
  --white-8: #dee1e7;
  --white-9: #e4e6eb;
  --white-10: #f0f2f5;
  --white-11: #f3f4f5;
  --white-12: #dddddd;
  --white-13: #ced0d4;
  --white-14: #f5fbff;
  --white-15: #bdbdbd;
  --white-16: #e8e9ef;
  --white-17: #ced4da;
  --white-18: #cccccc;
  --white-19: #eff1f6;
  --black-1: #000000;
  --black-2: #1c1e21;
  --black-3: #3f414d;
  --black-4: #060606;
  --black-5: #050505;
  --black-6: #565656;
  --black-7: #3f3f3f;
  // --primary-1: #50b5ff;

  --primary-1: #695cfe;
  --primary-2: #00c6fb;
  --primary-3: #1876f2;
  --success: #5cb85c;
  --error: #fa9b8a;
  --dark-blue-1: #22233a;
  --dark-blue-2: #131e40;
  --gray-1: #888888;
  --gray-2: #444444;
  --gray-3: #777d74;
  --gray-4: #565656;
  --gray-5: #999999;
  --gray-6: #989da8;
  --gray-7: #3f414d;
  --gray-8: #a09e9e;
  --gray-9: #65676b;
  --gray-10: #bec3c9;
  --gray-11: #495057;
  --gray-12: #9aa9bb;
  --gray-13: #969eb3;
  --gray-14: #f5f6fa;
  --gray-15: #40414d;
  --gray-16: #969eb33b;
  --gray-17: #637381;
  --gray-18: #212b36;
  --red-1: #f33e58;
  --red-2: #d3394c;
  --red-3: #ef9a9a;
  --red-4: red;
  --red-5: #fb3958;
  --red-6: #721c24;
  --red-7: #f8d7da;
  --red-8: #f5c6cb;
  --yellow-1: #f7b124;
  --orange-1: #e9710f;
  --bluish-white: #e7f3ff;
  --bluish-white-1: #eaf3ff;
  --green-1: #155724;
  --green-2: #d4edda;
  --green-3: #c3e6cb;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --letter-spacing: 1px;

  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #ffffff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --sidebarToggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body.dark {
  --backgound-color: linear-gradient(to right, #171317, #080a0f) !important;
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --sidebarToggle-color: #fff;
  --text-color: #ccc;

  --name-text: #ffffff;
  --white-1: #000000;
  --white-2: #111111;
  --white-3: #1a1918;
  --white-4: #0e0e0e;
  --white-5: #0e0f0f;
  --white-6: #050504;
  --white-7: #0a0400;
  --white-8: #211e18;
  --white-9: #1b1914;
  --white-10: #0f0d0a;
  --white-11: #0c0b0a;
  --white-12: #222222;
  --white-13: #312f2b;
  --white-14: #0a0400;
  --white-15: #424242;
  --white-16: #171610;
  --white-17: #312b25;
  --white-18: #333333;
  --white-19: #100e09;
  --black-1: #ffffff;
  --black-2: #e3e1de;
  --black-3: #c0beb2;
  --black-4: #f9f9f9;
  --black-5: #fafafa;
  --black-6: #a9a9a9;
  --black-7: #c0c0c0;
}

.profile-name {
  color: white !important;
}

.header-profile-name {
  color: var(--text-color) !important;
}

.name {
  color: var(--name-text) !important;
}
.count {
  color: var(--name-text) !important;
}

.no-information {
  color: var(--black-6);
}

.feeds-post {
  background: var(--body-color) !important;
}

p,
span {
  color: var(--black-6);
}

.photos {
  color: var(--black-1);
}

.subtext {
  color: var(--black-6) !important;
}

.form-label {
  color: var(--black-6) !important;
}
